body {
  font-family: "Raleway", sans-serif;
  color: rgb(249, 255, 247);
  background-color: rgb(238, 0, 71);
}


/* Hero Section */

#Hero-Section {
  background-image: url("../img/imagenfondo.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: left;
}


/* Mis trabajos */

#Desafíos .image-top {
  height: 450px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #0f1110;
}

nav img{
  width: 30rem;
}

.link { color: #f8f8f8; }

.nav-link { color: #f8f8f8; }

